body {
  margin: 0;
  background: linear-gradient(180deg, rgba(50, 50, 50, 1) 0%, rgba(0, 0, 0, 1) 70%);
  min-height: 100vh;
}

:root {
  --primaryBackgroundColor: rgba(40, 44, 52, 0.6);
  --primaryBackgroundColorRGB: 40, 44, 52;
  --primaryColor: rgb(142, 189, 235);
  --primaryColorRGB: 142, 189, 235;

}

.content {
  color: white;
}

.grid-row-1 {
  padding: 1rem 0;
}

.grid-row-2 {
  padding: 2rem 0;
}

.grid-row-3 {
  padding: 3rem 0;
}